#header{
    font-family: 'Barlow Condensed';
    text-align: center;
    background-color: aliceblue;
    font-size: 26px;
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.container{
    padding-top: 60px;
    
  

}
#Login{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.Password{
    display: flex;
    justify-content: center;
    padding-top: 40px; 
}
#PassInp{
    border: 1px;
    border-radius: 10px;
    height: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6)
}
.LogInp{
    border: 1px;
    border-radius: 10px;
    height: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    
}
.LogInp[type=text]{
    padding-left: 10px;
}
.PassInp[type=text]{
    padding-left: 10px;
}
body{
    background: url("/home/user/Desktop/background.jpg")
}
#btn{
    display: flex;
    justify-content: center;
    padding: 8px 30px;
width: 100px;
    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    
}
#btn:hover {
    background-color: #fff;
    color: #333;
}
.buton{
    padding-top: 30px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#log{
 border: 1px;
    border-radius: 10px;
    height: 150px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
.area{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.butinp{
display: flex;
justify-content: center;
}
.input{
    margin-top: 10px;
    margin-left: -50px;
}